* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  font-size: 14px;
}

.main {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 1199px) {
    p {
      font-size: 2rem;
    }
  }
}